* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #faf9f6;
}

.contenedor {
    width: 1000px;
    margin: auto;
}

header {
    background-color: #faf9f6;
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #000;
}

header nav ul li a:hover {
    background: #000;
    color:#fff;
}

.main {
    width: 1000px;
    background-color: #fff;
}

.main .imagen {
    width: 100%;
}

.main .imagen img {
    width: 100%;
    vertical-align: top;
}

.main p {
    text-align: center;
}

.main .posts {
    padding: 40px;
}

.main .posts article h1 {
    margin-bottom: 20px;
    color: #424242;
    text-align: center
}

.main .posts article p {
    margin: 15px 125px;
    line-height: 27px;
    text-align: justify;
}

.main .posts .hora {
    color: #cc2424;
    font-size: 1.2em;
    text-align: center;
}

.servicios {
    width: 100%;
}

.servicios h2 {
    margin: 20px 30px;
    color: #424242;
    text-align: center;    
}

.servicios .box1, .box2, .box3 {
    width: 330px;
    padding: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: justify;
}


.servicios img {
    width: 100%;
    opacity: 0.5;
}

.servicios img:hover {
    opacity: 1;
}

footer .redes {
    margin-top: 100px;
    text-align: center;
}
footer p {
    font-size: 12px;
}
button {
    width: 100px;
    height: 100px;
    padding: 10px;
    border:none;
    font-size: 50px;
    background: #faf9f6;
}
.rojos {
    color: red;
}

.azules {
    color: #4e9ffc;
}

.derechos {
    text-align: center;
    padding: 20px;

}